

@media screen and (max-width:700px){

    header .container{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .botao{
        margin-top: 5px;
        width: 190px;

    }

    .popup-container{
        display: flex;
        font-size: 12px;
        margin: 8px;
        align-items: flex-end;
        justify-content: flex-end;
    }

}